<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout.html}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script type="text/javascript" th:src="@{/js/file/file_upload.js}"></script>

    <style>
        body        { font: 14px/2rem 'Noto Sans CJK KR', Noto Sans KR, sans-serif }
        section {
            min-height: 100vh;
            padding: 100px 0;
            background-color: #333;
        }
        .container.p-5.mt-4 {
            border-radius: 15px;
            color: white;
            border: 3px solid white;
        }
        label{
            margin-bottom: 0;
            margin-top: 1.5rem;
        }
        .validationError{
            color: #dc3545
        }
        .required{
            color: tomato;
        }
    </style>
</head>

<body>
<th:block layout:fragment="content">
    <section>
        <form th:action="@{/add_theme}" name="theme-form" th:object="${themeForm}" method="post" enctype="multipart/form-data">
            <div class="container p-5 mt-4">
                <h2>테마 추가</h2>
                <p class="required"> * 는 필수 입력란 입니다.</p>
                <div class="row">
                    <div class="col-6">
                        <label class="required">*</label>
                        <label>테마명 :</label>
                        <input type="text" id="theme-name" th:field="*{themeName}" class="form-control"/>
                        <div class="validationError" th:if="${#fields.hasErrors('themeName')}">
                            <label>※ 테마명은 </label>
                            <label th:errors="*{themeName}"></label>
                            <label>.</label>
                        </div>
                        <label class="required">*</label>
                        <label>지점 :</label>
                        <input type="text" id="shop-name" th:field="*{shopName}" class="form-control"/>
                        <div class="validationError" th:if="${#fields.hasErrors('shopName')}">
                            <label>※ 지점은 </label>
                            <label th:errors="*{shopName}"></label>
                            <label>.</label>
                        </div>
                        <label class="required">*</label>
                        <label>폐업한 지점인가요?</label>
                        <div style="display: flex; align-items: center;">
                            <input type="radio" th:field="*{openStatus}" class="m-3"
                                   name="openStatus" id="open-statusT" th:value="false" checked>
                            <label for="open-statusT" style="margin: 0;">예</label>
                            <input type="radio" th:field="*{openStatus}" class="m-3"
                                   name="openStatus" id="open-statusF" th:value="true">
                            <label for="open-statusF" style="margin: 0;">아니오</label>
                        </div>

                        <label>지점 url :</label>
                        <input type="text" id="shop-url" th:field="*{shopUrl}" class="form-control"/>


                        <div class="mt-4">
                            <p>이미지 업로드 :</p>
                            <input type="file" name="file" accept=".jpg,.jpeg,.png" onchange="fileUploadCheck(this)"/>
                            <div th:if="${fileUploadError}!=null" style="color: #dc3545">
                                [ 파일 크기 오류 ] 업로드할 수 있는 파일의 최대 크기는 300KB입니다.
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="required">*</label>
                        <label>지역 :</label>
                        <select class="form-control" th:field="*{areaType}">
                            <option th:each="areaTypeValue : ${T(com.recoders.escapelog.domain.AreaType).values()}"
                                    th:value="${areaTypeValue.name()}"
                                    th:text="${areaTypeValue.getKrName()}">
                        </select>
                        <label class="required">*</label>
                        <label>세부지역 :</label>
                        <input type="text" id="detail-area" th:field="*{detailArea}" class="form-control"/>
                        <div class="validationError" th:if="${#fields.hasErrors('detailArea')}">
                            <label>※ 플레이 시간은 </label>
                            <label th:errors="*{detailArea}"></label>
                            <label>.</label>
                        </div>
                        <label class="required">*</label>
                        <label>플레이 시간 :</label>
                        <input type="number" id="play-time" th:field="*{playTime}" class="form-control" min="1"/>
                        <div class="validationError" th:if="${#fields.hasErrors('playTime')}">
                            <label>※ 플레이 시간은 </label>
                            <label th:errors="*{playTime}"></label>
                            <label>.</label>
                        </div>
                        <label>난이도 :<span id="level-value">0</span></label>
                        <input type="range" id="level" th:value="level" class="form-control" min="0" max="10" oninput="document.getElementById('level-value').innerHTML=this.value;"/>
                        <p>※ 난이도를 모르면 0으로 표시하세요.</p>
                        <div class="validationError" th:if="${#fields.hasErrors('level')}">
                            <label>※ 난이도는 </label>
                            <label th:errors="*{level}"></label>
                            <label>.</label>
                        </div>
                        <label>줄거리 :</label>
                        <textarea id="story" th:field="*{story}" class="form-control"></textarea>
                    </div>
                </div>
                <button type="button" id="theme-add-btn" class="btn btn-light float-right mt-4">등록하기</button>
            </div>
        </form>

        <script>

            $(document).ready(function () {

                document.getElementById('play-time').value = 60;
                document.getElementById('level').value = 0;

                if ($('input[name=openStatus]:checked').val() == 'false') {
                    $('#shop-url').attr('disabled', true);
                }

                $('input:radio[name=openStatus]').click(function () {
                    let checkedValue = $('input[name=openStatus]:checked').val();
                    let urlText = $('#shop-url');
                    if (checkedValue == 'true') {
                        urlText.attr('disabled', false);

                    } else if (checkedValue == 'false') {
                        urlText.val('');
                        urlText.attr('disabled', true);
                    }
                });

                $('#theme-add-btn').click(function () {
                    if ($('#theme-name').val().replace(/\s| /gi, "").length == 0) {
                        alert('테마명을 입력해주세요.');
                        return false;
                    }
                    if ($('#shop-name').val().replace(/\s| /gi, "").length == 0) {
                        alert('지점을 입력해주세요.');
                        return false;
                    }
                    if ($('input[name=openStatus]:checked').val() == 'true') {
                        let regUrl = /(http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
                        if (!regUrl.test($('#shop-url').val())) {
                            alert('지점 url를 올바르게 입력해주세요.');
                            return false;
                        }
                    }
                    if ($('#detail-area').val().replace(/\s| /gi, "").length == 0){
                        alert('세부 지역을 입력해주세요.');
                        return false;
                    }

                    if ($('#play-time').val()=='' || $('#play-time').val() < 1){
                        alert("플레이 시간을 숫자(양수)로 입력해주세요.");
                    }

                    document.getElementById("theme-name").value = $('#theme-name').val().replace(/^\s+|\s+$/gm,'');
                    document.getElementById("shop-name").value = $('#shop-name').val().replace(/^\s+|\s+$/gm,'');
                    document.getElementById("shop-url").value = $('#shop-url').val().replace(/^\s+|\s+$/gm,'');
                    document.getElementById("story").value = $('#story').val().replace(/^\s+|\s+$/gm,'');

                    $('form[name=theme-form]').submit();
                });
            });

        </script>
    </section>
</th:block>
</body>
</html>