<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout.html}" th:with="activeTab='signup'">
<head>
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/member/find_pw.css}">
</head>
<body>
<th:block layout:fragment="content">
  <section>
    <div class="container bg-light">
      <img th:src="@{/img/logo/logo_footer_dark.png}">
      <form id="msform" name="find-pw-form" th:object="${findForm}" th:action="@{/find_change_pw}" th:method="post">

        <!-- progressbar -->
        <div class="progress-box">
          <div class="progress">
            <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <br>
          <ul id="progressbar">
            <li class="active" id="account"></li>
            <li id="personal"></li>
            <li id="payment"></li>
            <li id="confirm"></li>
          </ul>
        </div>

        <!-- fieldsets -->
        <fieldset>
          <div class="form-card">
            <h5 class="steps">1 - 4</h5>

            <label for="email">이메일 입력:</label>
            <div class="alert alert-danger" id="email-check-result" style="display: none"></div>
            <input type="email" class="form-control" id="email" th:onkeyup="printName()" th:field="*{email}" placeholder="이메일을 입력해주세요" name="email">
            <div class="invalid-feedback" id="email-fail-feedback"></div>
            <div class="validationError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
          </div>
          <button type="button" id="email-check-btn" class="next btn btn-next my-2">다음</button>
        </fieldset>

        <fieldset>
          <div class="form-card">
            <h5 class="steps">2 - 4</h5>
              <div id='result'>이메일이 입력되지 않았습니다!</div>
            <label for="code">다음 이메일로 인증 번호를 받으시겠습니까?</label>

            <script>
              function printName()  {
                const email = document.getElementById('email').value;
                document.getElementById("result").innerText = email;
              }
              $('input[type="email"]').keydown(function() {
                if (event.keyCode === 13) {
                  event.preventDefault();
                };
              });
            </script>
          </div>
          <button type="button" id="code-send-btn" class="next btn btn-next my-2">인증번호 보내기</button>
          <button type="button" id="previous-1" name="previous" class="previous my-2 btn action-button-previous"
                  value="Previous">이전</button>
        </fieldset>

        <fieldset>
          <div class="form-card">
            <h5 class="steps">3 - 4</h5>
            <label for="code">인증 번호: </label>
            <input type="text" class="form-control" id="code" placeholder="전송받은 인증 번호를 입력해주세요" name="code">
          </div>
          <button type="button" id="code-check-btn" class="next btn btn-next my-2">확인</button>
        </fieldset>

        <fieldset>
          <div class="form-card">
            <h5 class="steps">4 - 4</h5>
            <label for="pwd">새 비밀번호: </label>
            <input type="password" class="form-control" id="pwd" th:field="*{newPassword}" placeholder="영어+숫자 (8-30자)" name="pwd" minlength="8" maxlength="30">
            <div class="validationError" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
            <div class="invalid-feedback">비밀번호를 올바르게 입력해주세요. (영어+숫자 조합 8-30자) </div>


            <label for="pwd2" class="mt-4">새 비밀번호 확인: </label>
            <input type="password" class="form-control" id="pwd2"th:field="*{rePassword}" placeholder="영어+숫자 (8-30자)" name="pwd2">
            <div class="invalid-feedback" id="pwd2-fail-feedback">비밀번호가 일치하지 않습니다.</div>
            <div class="validationError" th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}"></div>
          </div>
          <button type="button" id="find-pw-submit-btn" class="next btn btn-next my-2">완료</button>
        </fieldset>
        <fieldset>
          <div class="form-card">
            <p>아래 버튼을 눌러 비밀번호 변경을 완료해주세요</p>
            <button class="btn btn-next">비밀번호 변경 완료</button>
          </div>
        </fieldset>
      </form>
    </div>

<script>

  let current_fs, next_fs, previous_fs; //fieldsets
  let opacity;
  let current = 1;
  let steps = $("fieldset").length;

  let emailFormatCheck = false;
  let passwordFormatCheck = false;

  let emailCheck = false;
  let codeSend = false;
  let codeCheck = false;
  let passwordConfirm = false;

  var token = $("meta[name='_csrf']").attr("content");
  var header = $("meta[name='_csrf_header']").attr("content");

  $(document).ready(function (){

    setProgressBar(current);

    $("#email").on("keyup", function() {
      var regEmail = /^((\w|[\-\.])+)@((\w|[\-\.])+)\.([A-Za-z]+)$/;

      if (!regEmail.test($("#email").val())) {
        $("#email").removeClass("is-valid").addClass("is-invalid");
        $("#email-fail-feedback").text("이메일을 올바르게 입력해주세요. (ex. escapelog@test.com) ")
        emailFormatCheck = false;

      } else{
        $("#email").removeClass("is-invalid").addClass("is-valid");
        emailFormatCheck = true;

      }
    });

    $("#pwd").on("focusout", function () {

      if ($('#pwd').val().replace(/^\s+|\s+$/gm,'').length==0){
        return false;
      }

      if ($(this).val() != $("#pwd2").val()) {
        passwordConfirm = false;
        $("#pwd2").removeClass("is-valid").addClass("is-invalid");
      } else {
        passwordConfirm = true;
        $("#pwd2").removeClass("is-invalid").addClass("is-valid");
      }
    });

    $("#pwd").on("keyup", function() {
      var regPwd = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}/;
      $("#pwd2").removeClass("is-valid").addClass("is-invalid");

      if (!regPwd.test($("#pwd").val())) {
        passwordFormatCheck = false;
        $("#pwd").removeClass("is-valid").addClass("is-invalid");
      } else{
        passwordFormatCheck = true;
        $("#pwd").removeClass("is-invalid").addClass("is-valid");
      }
    });

    $("#pwd2").on("keyup", function () {

      if ($("#pwd").val() != $(this).val()) {
        passwordConfirm = false;
        $(this).removeClass("is-valid").addClass("is-invalid");
      } else {
        passwordConfirm = true;
        $(this).removeClass("is-invalid").addClass("is-valid");
      }
    });


    $('#previous-1').click(function () {
      previous(this);
    });

    $('#email-check-btn').click(function () {

      if (!emailFormatCheck){
        return false;
      }

      document.getElementById("email").value = $('#email').val().replace(/^\s+|\s+$/gm,'');

      $.ajax({
        url : '/check_email',
        type : 'POST',
        data : {'email':$('#email').val()},
        dataType: 'json',
        beforeSend: function (xhr){
          xhr.setRequestHeader(header, token);
        },
        success : function(data){

          if (!data.existenceResult || !data.verifiedResult){
            $("#email").removeClass("is-valid").addClass("is-invalid");
            $("#email-fail-feedback").text("");
            document.getElementById("email-check-result").style.display = "";
            $("#email-check-result").text(data.msg);
          }else{
            document.getElementById("email-check-result").style.display = "none";
            $("#email").removeClass("is-invalid").addClass("is-valid");
            emailCheck = true;
            next('#email-check-btn');
          }

        },
        error : function(request,status,error){
          console.log("code = "+ request.status + " error = " + error);
        }
      })
    });

    $('#code-send-btn').click(function () {
      if (!emailCheck){
        return false;
      }

      $.ajax({
        url : '/send_code_email',
        type : 'POST',
        data : {'email':$('#email').val()},
        dataType: 'json',
        beforeSend: function (xhr){
          xhr.setRequestHeader(header, token);
        },
        success : function(data){
          codeSend = data.result;
          next('#code-send-btn');
        },
        error : function(request,status,error){
          console.log("code = "+ request.status + " error = " + error);
        }
      })

    });

    $('#code-check-btn').click(function () {
      if (!emailCheck || !codeSend){
          return false;
      }

      $.ajax({
        url : '/check_code',
        type : 'POST',
        data : {'email':$('#email').val(), 'code':$('#code').val()},
        dataType: 'json',
        beforeSend: function (xhr){
          xhr.setRequestHeader(header, token);
        },
        success : function(data){
          codeCheck =data.result;

          if (codeCheck){
            next('#code-check-btn');
          }
        },
        error : function(request,status,error){
          console.log("code = "+ request.status + " error = " + error);
        }
      })

    });

    $('#find-pw-submit-btn').click(function () {
      if (!emailCheck || !codeSend || !codeCheck || !passwordFormatCheck || !passwordConfirm){
        return false;
      }

      $('form[name=find-pw-form]').submit();

    });

  });

  function next(currentBtn){

    current_fs = $(currentBtn).parent();
    next_fs = current_fs.next();

    //Add Class Active
    $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

    //show the next fieldset
    next_fs.show();
    //hide the current fieldset with style
    current_fs.animate({ opacity: 0 }, {
      step: function (now) {
        // for making fielset appear animation
        opacity = 1 - now;

        current_fs.css({
          'display': 'none',
          'position': 'relative'
        });
        next_fs.css({ 'opacity': opacity });
      },
      duration: 500
    });
    setProgressBar(++current);
  }

  function previous(currentBtn){
    current_fs = $(currentBtn).parent();
    previous_fs = current_fs.prev();

    //Remove class active
    $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

    //show the previous fieldset
    previous_fs.show();

    //hide the current fieldset with style
    current_fs.animate({ opacity: 0 }, {
      step: function (now) {
        // for making fielset appear animation
        opacity = 1 - now;

        current_fs.css({
          'display': 'none',
          'position': 'relative'
        });
        previous_fs.css({ 'opacity': opacity });
      },
      duration: 500
    });
    setProgressBar(--current);
  }

  function setProgressBar(curStep) {
    var percent = parseFloat(100 / steps) * curStep;
    percent = percent.toFixed();
    $(".progress-bar")
            .css("width", percent + "%")
  }
</script>

  </section>
</th:block>
</body>
</html>