<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout.html}" th:with="activeTab='login'">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
<th:block layout:fragment="content">
    <section>
        <div class="container row mx-auto">
            <div class="col-4">
                <h2>로그인</h2>
                <hr/>
                <h4 class="bold">SIGN IN</h4>
                <div class="sel-login">
                    <span style="color:#474249">회원가입</span>&ensp;<span class="login-txt">로그인</span>
                </div>
            </div>
            <div class="col-8">
                <div class="character-box">
                    <div class="character">캐릭터</div>
                </div>
                <form action="/doLogin" method="post"><!--class="is-validated" -->
                    <div class="form-group">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <div th:if="${param.error}">
                            <p th:text="${errorMsg}" class="alert alert-danger">로그인 에러 발생</p>
                        </div>
                        <label for="email">EMAIL</label>
                        <input type="text" class="form-control valid" id="email" placeholder="이메일" name="email" required>
                        <div class="invalid-feedback">이메일을 입력해주세요.</div>
                    </div>
                    <div class="form-group">
                        <label for="pwd">PASSWORD</label>
                        <input type="password" class="form-control" id="pwd" placeholder="비밀번호" name="pwd" required maxlength="">
                        <div class="invalid-feedback">비밀번호를 입력하세요</div>
                    </div>

                    <a class="signup-link" th:href="@{/find_pw}">비밀번호를 잃어버렸나요?</a>
                    <button type="submit" class="btn member-btn">로그인</button>
                </form>
                <a class="signup-link" th:href="@{/signup}">아직 회원이 아니신가요?</a>
            </div>
        </div>

    </section>
</th:block>
</body>
</html>