<footer class="jumbotron jumbotron-fluid text-center" style="margin-bottom: 0; background-color:black">
    <div class="row text-center mx-auto">
        <ul class="nav mx-auto">
            <li class="nav-items"><a class="nav-link text-light text-center" href="#">INFO</a></li>
            <li class="nav-items"><a class="nav-link text-light" href="#">SUPPORT</a></li>
            <li class="nav-items"><a class="nav-link text-light" href="#">CONNECTION</a>
            </li>
        </ul>
    </div>
    <a style="color:white"><small>Terms of Use &nbsp; | &nbsp; Privacy Policy</small></a><br/>
    <p style="color: ghostwhite"><small>&copy;2021. Escape Log. Recoderz </small></p>
</footer>