*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-x: hidden;
}
section{
    min-height: 100vh;
    padding-top:100px;
    background-color: #E1DBCD;
}
section *{
    overflow-y: hidden;
}
.logo{
    height: 70px;

}
.logo img{
    height: 100%;
    width: auto;
}
