@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body        { font: 12px/20px 'Noto Sans CJK KR', Noto Sans KR, sans-serif }
.thin       { font-weight: 100 }
.light      { font-weight: 300 }
.regular    { font-weight: 400 }
.medium     { font-weight: 500 }
.bold       { font-weight: 700 }
.bolder     { font-weight: 900 }

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-x: hidden;
}
section{
    min-height: 100vh;
    padding-top:100px;
    background-color: #E1DBCD;
}
section *{
    overflow-y: hidden;
}
.logo{
    height: 70px;

}
.logo img{
    height: 100%;
    width: auto;
}
