html{
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'East Sea Dokdo', cursive;
}
section{
    display: flex;
}

#main{
    background-color: #fff;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
}

.content{
    position:relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    position:relative;
    max-width: 600px;
}
.content .textBox h2{
    color:#333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 100;
    font-family: 'East Sea Dokdo', cursive;
}
.content .textBox h2 span{
    color: #D68D6C;
    font-size: 1.3em;
    font-weight: 500;
}
.content .textBox p{
    color: #333;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding:8px 20px;
    background: #D68D6C;
    color:#fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .textBox a:hover{
    background-color: #e6bb59;
}
.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imgBox img{
    max-width: 340px;
}
.thumb{
    position:absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50px);
    display: flex;
}
.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li i{
    max-width: 60px;
    font-size: 60px;
    color: #D68D6C;
}
.thumb li i:hover{
    color:#EEC86F;
}
.circle{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #EEC86F;
    clip-path: circle(600px at right 800px);
}

#letter{
    background-color: #E2DCCE;
}

.letter .letter-box{
    position: absolute;
    left: 0;
    top: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letter .letter-img{
    position: absolute;
    width: 80%;
    height: auto;
    max-width: 1100px;
}
.letter .text-box {
    left: 50%;
    border: 3px solid;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
    position: absolute;
    width: 35%;
    height: auto;
    max-width: 476px;
}

#info{
    background-color: #937B69;
}
.info{
    color: #fff;
}

.info .col-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    text-decoration: none;
    color: #fff;
    border: 1px solid;
    border-radius: 20px;
    margin: 5px;
    max-width: 30%;
}
.info .col-4:hover{
    color: #555;
    border: 1px solid;
    background: #fff;
}
.info .col-4 i{
    margin: 25px 0;
}
.info .col-4 i:hover{
    transform: translateY(-15px);
}




@media (max-width: 991px) {
    .content{
        flex-direction: column;
        margin-top:100px;
    }
    .content .text-box h2{
        font-size: 2.5em;
        margin-bottom: 15px;
    }
    .content .text-box{
        max-width: 100%;
    }
    .content .imgBox{
        max-width: 100%;
        justify-content: center;
    }
    .content .imgBox img{
        max-width: 300px;
    }
    .thumb li i{
        font-size: 40px;
    }
    .circle{
        clip-path: circle(400px at center bottom);
    }
    img{
        width: 100%;
    }
}