<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout.html}" th:with="activeTab='index', title='Welcome!'">
<head>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<th:block layout:fragment="content">
    <section id="main">
        <div class="container banner">
            <div class="circle"></div>
            <div class="content">
                <div class="textBox">
                    <h2><span>탈출</span>의 순간을<br>
                        &ensp;<span>기록</span>하고 싶다면?</h2>
                    <p>돋고, 어디 청춘을 있는 착목한는 바로 인도하겠다는 것이다. 이상, 피고, 무엇을 우리 눈이 원질이 돋고, 얼마나 우리의 봄바람이다. 구하기 아니더면, 위하여 청춘이 천지는
                        이것이다. 피고, 같으며, 인간에 내는 그리하였는가?</p>
                    <a href="#info">더 알아보기</a>
                </div>
                <div class="imgBox">
                    <img th:src="@{/img/main01.png}" class="escape">
                </div>
            </div>
        </div>
    </section>

    <section id="info">
        <div class="container info">
            <h1>SERVICES</h1>
            <div class="row">
                <a class="col-4" th:href="@{/themes}">
                    <div class="icon">
                        <i class="fas fa-door-open fa-5x"></i>
                    </div>
                    <h4>themes</h4>
                    <p>전국에 있는 방탈출 테마를 한번에 모아보자</p>
                </a>
                <a class="col-4" th:href="@{/library}">
                    <div class="icon">
                        <i class="fas fa-book fa-5x"></i>
                    </div>
                    <h4>books</h4>
                    <p>나만의 방탈출 기록 일지를 가지고 싶다면?
                        내가 다녀온 곳과 성공한 곳, 그 날의 기억을 책에 담아 추억하기</p>
                </a>
                <a class="col-4" th:href="@{/map}">
                    <div class="icon">
                        <i class="fas fa-map-marked-alt fa-5x"></i>
                    </div>
                    <h4>map</h4>
                    <p>내가 다녀온 곳은?
                        전국 지도를 통해 한눈에 볼 수 있는 방탈출 기록의 장! 전국 방탈출 도장깨기!</p>
                </a>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>