section{
    padding-top: 100px;
}
.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book {
    width: 60vw;
    background-image: url(/img/book.png);
    background-repeat: no-repeat;
    background-size: 60vw 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    min-height: 70vh;
}
.book-left {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.book-left .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 9px;
}
.title h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin: 0;
}
.title p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    margin: 0;

}
.book-left .sticker {
    display: flex;
    justify-content: center;
}
.book-left .sticker .img-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    height: 200px;
    width: 135px;
    border-radius: 5px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.img-box::after{
    content: "";
    position: absolute;
    height: 20px;
    width: 28px;
    margin-top: -12px;
    background-color: #ffc1072e;
    transform: rotate(-80deg);
}
.polaroid img {
    width: 100px;
    height: 110px;
    margin: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.book-left .sticker .info-box {
    min-width: 130px;
    display: flex;
    font-family: 'Noto Sans KR';
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(-4deg);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
    background-color: #FCE188;
}
.img-box p {
    margin: 0;
}
.info-box label {
     font-size: 12px;
     margin: 0;
 }
.info-box p {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.book-right{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book-right .text{
    height: 60%;
}
.text-box {
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
}
.book-right .escape{
    display: flex;
    margin-bottom: 10px;
}
.btn-box{
    width: 60%;
    margin: 20px;
}
.btn-box form,
.btn-box .edit{
    float:right;
}
.btn-box a{
    float: left;
}
.btn-box .btn {
    padding: 3px 10px;
}

.upload img{
    width: 200px;
    max-height: 200px;
    object-fit: contain;
}

#recode-success svg {
    overflow: hidden;
    vertical-align: middle;
    height: 50px;
    width: 150px;
}
