<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/common_layout.html}" th:with="activeTab='theme'">
<head>
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
    <link rel="stylesheet" th:href="@{/css/theme/side_bar.css}">
    <link rel="script" th:href="@{/js/theme_list.js}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>

<body>
<th:block layout:fragment="content">
    <section>
        <!-- 테마 모아보기 페이지 BODY!!  -->
        <div class="container-fluit mt-3">
            <div class="row">

                <!-- 테마 모아보기 리스트 -->
                <div class="col-8 list-box">
                    <div class="container" id="theme-list">
                        <div class="row">
                            <div class="tape" th:each="theme,num:${themeList}">
                                <div class="theme-item" th:classappend="${theme.openStatus}==false ? 'closed' : ''">
                                    <!---------------------- 성공 도장 위치 : class="polaroid" 에서 'success' 추가 ==> [class="polaroid success"] --------->
                                    <a class="polaroid" href="#" th:href="@{/themes/}+${theme.themeNo}"
                                       th:classappend="${#authorization.getAuthentication() != null and #authorization.expression('isAuthenticated()')} and ${theme.success==true}? success">
                                        <div class="img-box">
                                            <img th:src="'https://picsum.photos/200/400?random='+${theme.themeNo}">
                                        </div>
                                        <div class="caption-box">
                                            <p th:text="${theme.shopName}">지점명</p>
                                            <h4 th:text="${theme.themeName}">테마이름이엄청길면어떡하나</h4>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
                <!-- 테마 리스트 끝! -->

                <!-- 테마 사이드바 레이아웃 -->
                <div class="col-3">
                    <th:block th:include="layout/theme_sidebar"></th:block>
                </div>
            </div>
        </div>

        <div>
            <span id="topBtn"><i class="fas fa-arrow-circle-up fa-3x"></i></span>
        </div>
        <script>
            var topEle = $('#topBtn');
            var delay = 1000;
            topEle.on('click', function() {
                $('html, body').stop().animate({scrollTop: 0}, delay);
            });
        </script>


    </section>
</th:block>
</body>
</html>