<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout.html}" th:with="activeTab='theme'">
<head>
    <link th:href="@{/css/theme_detail.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-

</head>

<body>
<th:block layout:fragment="content">
    <section>

        <div class="container-fluit mt-3">
            <div class="row">


                <!-- 테마 상세 본문 영역!!!! -->
                <div class="detail-box">
                    <div class="form-row">

<!---------------------- 폴리스라인 위치 : class="image-box" 에서 'closed' 추가 ==> [class="col-6 image-box closed"] --------->
                        <div class="col-6 image-box">
                            <div class="img-box" id="theme-img">
                                <img src="https://picsum.photos/400/300">
                            </div>

                            <!-- 테마 세부 정보 영역!! -->
                        </div>
<!---------------------- 성공 도장 위치 : class="info-box" 에서 'success' 추가 ==> [class="col-6 info-box p-3 success"] --------->
                        <div class="col-6 info-box p-3">
                            <label id="shop-name" th:text="${themeInfo.shopName}">비트포비아 강남 던전</label>
                            <button type="button" id="shop-url-btn" th:onclick="'window.open(\''+ @{${themeInfo.shopUrl}} + '\')'" class="btn btn-outline-dark btn-sm">바로가기</button>
                            <h3 th:text="${themeInfo.themeName}">LOST KINGDOM : 잊혀진 전설</h3>
                            <label>난이도</label>
                            <div class="level" th:switch="${themeInfo.level}">
                                <p th:case="-1">-</p>
                                <p th:case="1">★☆☆☆☆</p>
                                <p th:case="2">★★☆☆☆</p>
                                <p th:case="3">★★★☆☆</p>
                                <p th:case="4">★★★★☆</p>
                                <p th:case="5">★★★★★</p>
                                <p th:case="*">★★★★★+</p>
                            </div>
                            <label>플레이타임</label>
                            <p th:text="${themeInfo.playTime}+분">60분</p>
                            <label>평점</label>

                            <div class="row">
                                <div class="col-2 rating">
                                    <span>흙길</span>
                                    <span>글 수</span>
                                </div>
                                <div class="col-2 rating">
                                    <span>흙풀길</span>
                                    <span>글 수</span></div>
                                <div class="col-2 rating">
                                    <span>풀길</span>
                                    <span>글 수</span></div>
                                <div class="col-2 rating">
                                    <span>풀꽃길</span>
                                    <span>글 수</span></div>
                                <div class="col-2 rating">
                                    <span>꽃길</span>
                                    <span>글 수</span></div>
                            </div>
                            <label>줄거리</label>
                            <p th:utext="${#strings.replace(themeInfo.story,nlString, '&lt;br /&gt;')}">"전설 속의 왕국, 아틀란티스는 과연 존재하는가?
                                가문 대대로 아틀란티스에 관한 고고학 연구를 지속하고 있는
                                키스콥 가문의 고고학자인 당신은
                                어느 날 발신인을 알 수 없는 편지를 받게 된다.

                                편지에는 놀랍게도 아틀란티스의 위치를 알리는 실마리가 적혀 있었고.
                                실마리를 따라 도착한 곳은 버뮤다 해협에 있는 한 무인도의 좁은 동굴이었다.

                                그곳에 도착한 당신은 동굴 안을 좀 더 자세히 살펴보기로 하는데…"</p>
                        </div>
                    </div>


                    <!-- 부트스트랩 모달!!!! -->
                    <button type="button" class="btn  btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
                        잘못된 정보가 있나요?
                    </button>

                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">잘못된 정보가 있나요?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="feedback-form" th:object="${feedbackForm}">
                                    <div class="form-group">
                                        <label>선택</label>
                                        <select class="custom-select" id="sel1" th:field="*{feedbackType}">
                                            <option value="" default selected>피드백 종류를 선택해주세요.</option>
                                            <option th:value="${T(com.recoders.escapelog.domain.FeedbackType).CLOSE}">폐업한 지점입니다.</option>
                                            <option th:value="${T(com.recoders.escapelog.domain.FeedbackType).ETC}">기타</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="ask">내용</label>
                                        <textarea class="form-control" th:field="*{contents}" id="ask" placeholder="내용을 입력하세요"></textarea>
                                    </div>
                                    <input type="hidden" id="feedback-theme-no" th:field="*{themeNo}">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">돌아가기</button> -->
                                <button type="button" class="btn btn-primary" id="feedback-submit-btn">제출하기</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>

<script>
    $(document).ready(function (){

        var openStatus = [[${themeInfo.openStatus}]];
        if (!openStatus) {
            $('#theme-img').addClass('closed');
            $('#shop-url-btn').hide();
        }

        $('#feedback-submit-btn').click(function () {

            if ($('#sel1 option:selected').val()==""){
                alert("피드백 종류를 선택해주세요.");
                return false;
            }

            if ($('#ask').val().replace(/\s| /gi, "").length==0){
                alert("문의 내용을 입력해주세요.");
                return false;
            }

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            document.getElementById("ask").value = $('#ask').val().replace(/^\s+|\s+$/gm,'');
            document.getElementById("feedback-theme-no").value=[[${themeInfo.themeNo}]]

            $.ajax({
                url : '/feedback/info',
                type : 'POST',
                data : $('#feedback-form').serialize(),
                beforeSend: function (xhr){
                    xhr.setRequestHeader(header, token);
                },
                success : function(data){
                    $('#exampleModal').modal("hide");
                    alert("의견을 주셔서 감사합니다.");
                    $("#sel1 option:eq(0)").prop("selected", true);
                    document.getElementById("ask").value = null;
                },
                error : function(request,status,error){
                    console.log("code = "+ request.status + " error = " + error);
                }
            })
        });
    });

</script>




    </section>
</th:block>
</body>
</html>