<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common_layout.html}" th:with="activeTab='theme'">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/theme/theme_list.css}">
    <link rel="stylesheet" th:href="@{/css/theme/side_bar.css}">
    <link rel="script" th:href="@{/js/theme_list.js}">

    <script th:inline="javascript">
        let currentUrl = window.location.protocol
            + "//" + window.location.host
            + window.location.pathname;
        let basicThemeImg = '/img/theme/basic_theme.png';
        let themeList = [[${themeList}]];
        let checkU = [[${checkU}]];
        let totalCount = 0;

        $(document).ready(function () {
            setThemeList();

            $('#more-btn').click(function () {
                setThemeList();
            });

            $('#search-btn').click(function () {

                let searchForm = {
                    keyword : $('#keyword').val().replace(/^\s+|\s+$/gm,''),
                    area : $('input[name=area-radio]:checked').val(),
                    successExclude : $("input:checkbox[name=stamp-checkbox]").is(":checked"),
                    closeExclude : $("input:checkbox[name=police-line-checkbox]").is(":checked"),
                    stampExclude : $("input:checkbox[name=stamp-checkbox]").is(":checked")
                };

                $.ajax({
                    url : '/theme_search',
                    type : 'GET',
                    data : searchForm,
                    success : function(data){
                        $('#theme-list').children().remove();
                        $("#more-btn").show();
                        themeList = data;
                        totalCount = 0;
                        setThemeList();
                    },
                    error : function(request,status,error){
                        console.log("code = "+ request.status + " error = " + error);
                    }
                })
            });

        });

        function setThemeList(){
            let count = 0;
            let themeInfo;
            for (let i = totalCount ; i<totalCount+12 && i<themeList.length ; i++) {
                themeInfo = themeList[i];
                addThemeItem(i, themeInfo);
                addPoliceLineClass(i,themeInfo.openStatus);
                addStampClass(i, themeInfo.success);
                count++;
            }
            totalCount += count;

            if (totalCount >= themeList.length){
                $("#more-btn").hide();
            }
        }

        function addThemeItem(index, theme) {
            var list = $("#theme-list");
            let imageUrl = theme.imageUrl ==null ? basicThemeImg : theme.imageUrl;
            list.append('<div class="col-4"><div class="tape">'+'<div class="theme-item" id="theme-item'+index+'">'
                +'<a class="polaroid" href="'+currentUrl+'/'+theme.no+'" id="polaroid'+index+'">'
                + '<div class="img-box">'+'<img src="'+imageUrl+'">' +'</div>'
                + '<div class="caption-box">'+'<p>'+theme.shopName+'</p>'+'<h4>'+theme.themeName+'</h4>'+'</div>'
                +'</a></div></div></div>');
        }

        function addPoliceLineClass(index, openStatus){
            if (!openStatus){
                let id = '#theme-item'+index;
                $(id).addClass('closed');
            }
        }

        function addStampClass(index, success){
            if (checkU && success!=null){
                let id = '#polaroid'+index;
                $(id).addClass('visit');
            }
        }

    </script>
</head>
<body>
<th:block layout:fragment="content">
    <section>
        <!-- 테마 모아보기 페이지 BODY!!  -->
        <div class="container-fluit mt-3">
            <div class="row">

                <!-- 테마 모아보기 리스트 -->
                <div class="col-9 list-box">

                    <div class="container row" id="theme-list">

                    </div>
                    <div class="btn-center">
                        <button id="more-btn" type="button" class="btn btn-dark"> more</button>
                    </div>
                </div>
<!--                <div class="col-1"></div>-->
                <!-- 테마 리스트 끝! -->


                <!-- 테마 사이드바 레이아웃 -->
                <div class="col-3">
                    <th:block th:include="layout/theme_sidebar"></th:block>
                </div>
            </div>
        </div>

        <div>
            <span id="topBtn"><i class="fas fa-arrow-circle-up fa-3x"></i></span>
        </div>
        <script>
            var topEle = $('#topBtn');
            var delay = 1000;
            topEle.on('click', function () {
                $('html, body').stop().animate({scrollTop: 0}, delay);
            });
        </script>


    </section>
</th:block>
</body>
</html>